:root{
	--editor-other-height:153px;
	--editor-open:3;
}
iframe {
	background: #333;
}

.editor {
	max-height: calc(calc(100vh - 64px) / 3);
}

#html-editor, #css-editor, #js-editor {
	height: calc(calc(100vh - var(--editor-other-height)) / var(--editor-open));
}

#render{
	background: #fff;
}
.icon-zoom::before{
	transform: scale(1.5);
}

.page-editor #main{
	/*min-height: 600px;*/
}
.ace_editor{
	transition: height .3s;
}
section[open="0"] .ace_editor {
    height: 0 !important;
}
.ace_editor{
	font: 12px/normal "Menlo-Regular","Consolas","Monospace";
}